.pagination button {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  background: #282828;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  min-width: 40px;
}

.pagination button.active {
  background: #1DB954;
  font-weight: bold;
}

.pagination button:hover:not(:disabled) {
  background: #404040;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
  
  .content {
    min-width: 1000px;
    padding: 20px;
  }